<template>

  <div class="page" data-name="home">

    <div class="page-content">

      <div class="row">

        <div class="col-100 large-50 center">

          <div class="block">

            <h1>Meme friendly NFTs</h1>
            
            <p class="subtitle">
              The NFT Commons is an open source app that makes it easy for you to create, sell, and host Ethereum NFTs with friendly <a href="https://creativecommons.org/">Creative Commons</a> licensing that encourages sharing, remixing, and memes. 
            </p>

          </div>

          <div class="block-title">Fans</div>
          <div class="list simple-list">
            <ul>
              <li>Show appreciation for a piece</li> 
              <li>Directly compensate an artist for their work</li> 
              <li>Digital proof that you are their biggest fan. </li>
            </ul>
          </div>

          
          <div class="block-title">Artists</div>
          <div class="list simple-list">
            <ul>
              <li>Digitally sign your art.</li>
              <li>Publish offline and make available to peers.</li>
              <li>Anyone can buy an NFT print of your media. You set the price.</li>
              <li>NFT prints can be exchanged on third-party marketplaces like OpenSea.</li>
              <li>The digital collective gets more art and whoever appreciates it the most can buy a special
                souvenier.</li>
              <li>Reward early fans of artists.</li>
              <li>It's nice to own stuff. Relative scarcity creates a real sense of ownership. Who's the biggest fan?
              </li>
              <li>Earn tokens for holding. The longer you hold the more tokens you get. Tokens are just for fun.</li>
              <li>Free, open source, and peer to peer.</li>
            </ul>
          </div>



          How it works
          You host your content in the browser. You always have a copy. Automatically share with peers.


          The NFT Commons does not have a governance token. Everyone has a say in the commons, even those who don't have
          tokens yet. Fork the git repo and create your own customized version.



        </div>


      </div>

    </div>


  </div>

</template>

<style>

  h1 {
    font-size: 50px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 25px;
  }


</style>


<script>

  export default (props, { $on, $f7, $update }) => {
    return $render
  }

</script>