<template>
  <div id="app">

    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar"></div>

    <div class="view view-main">

      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="title"><a href="/" class="link">NFT Commons</a></div>
          <div class="right">
            <a href="/about" class="link">FAQ</a>
            <a href="/connect" class="link"><i class="f7-icons">globe</i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</template>


<script>

  import SpaceMVC, { IpfsService, WalletService, ethers } from "space-mvc"


  export default (props, { $on, $f7, $update }) => {

    let connectedPeers = 0
    let walletAddress
    let ethBalance
    let nftcBalance

    SpaceMVC.getEventEmitter().on('spacemvc:initFinish', async () => {

      let ipfsService = await SpaceMVC.getContainer().get(IpfsService)

      let updatePeers = async (peer) => {
        let peers = await ipfsService.ipfs.swarm.peers()
        connectedPeers = peers.length
        $update()
      }

      ipfsService.ipfs.libp2p.connectionManager.on('peer:connect', updatePeers)
      ipfsService.ipfs.libp2p.connectionManager.on('peer:disconnect', updatePeers)

      $update()

    })

    return $render
  }

</script>